{% extends "Rabbaz/Core/App/Controller/Screen/AbstractAdministration.twig" %}

{% block main %}
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">Displays</h1>
</div>
<div class="alert alert-danger" role="alert">
    <h4 class="alert-heading"><i class="far fa-sad-tear"></i></h4>
    No display configurations found.
</div>
{% endblock %}
