    <link rel="stylesheet" href="Assets/Css/hello.css">

<main role="main" class="container main">
    <h1 data-text="Hello Rabbaz!">
        Hello Rabbaz!
    </h1>
    <h2>
        Please select
    </h2>
    <div class="row">
        <div class="col-6 col-sm-4 col-md-3 col-lg-2 col-xl-1"><a href="administration"><img src="Assets/Images/apps/systemsettings.svg" style="width: 100%" /></a></div>
    </div>
</main>
