:root {
    --c-bg-1: #040904;
    --c-bg-2: #060E06;
    --c-bg-3: #0D210D;

    --c-fg-a-1: #0D210D; /* Style a */
    --c-fg-a-2: #173917;
    --c-fg-a-5: #338033;
    --c-fg-a-7: #46AF46;
    --c-fg-a-9: #71C671;
    --c-fg-a-11: #A0D9A0;
    --c-fg-b-1: #0D1D21; /* Style b (hue of a1) */
    --c-fg-b-5: #337080;
    --c-fg-b-7: #469BB0;
    --c-fg-b-9: #71B6C7;

    --bs-primary: var(--c-fg-a-7);
}

.btn-outline-primary {
    color: var(--bs-primary);
    border-color: var(--bs-primary);
}
.btn-outline-primary:hover {
    color: #000;
    background-color: var(--bs-primary);
    border-color: var(--bs-primary);
}
.btn-check:focus + .btn-outline-primary, .btn-outline-primary:focus {
    box-shadow: 0 0 0 0.25rem rgba(70, 175, 70, 0.5);
}
.btn-check:checked + .btn-outline-primary, .btn-check:active + .btn-outline-primary, .btn-outline-primary:active, .btn-outline-primary.active, .btn-outline-primary.dropdown-toggle.show {
    color: #000;
    background-color: var(--bs-primary);
    border-color: var(--bs-primary);
}
.btn-check:checked + .btn-outline-primary:focus, .btn-check:active + .btn-outline-primary:focus, .btn-outline-primary:active:focus, .btn-outline-primary.active:focus, .btn-outline-primary.dropdown-toggle.show:focus {
    box-shadow: 0 0 0 0.25rem rgba(70, 175, 70, 0.5);
}
.btn-outline-primary:disabled, .btn-outline-primary.disabled {
    color: var(--bs-primary);
    background-color: transparent;
}
.card {
    background-color: var(--c-bg-3)
}

/*!
 * Font Awesome Free 5.15.2 by @fontawesome - https://fontawesome.com
 * License - https://fontawesome.com/license/free (Icons: CC BY 4.0, Fonts: SIL OFL 1.1, Code: MIT License)
 */
@font-face {
    font-family: 'Font Awesome 5 Free';
    font-style: normal;
    font-weight: 400;
    font-display: block;
    src: url("../Fonts/fa-regular-400.eot");
    src: url("../Fonts/fa-regular-400.eot?#iefix") format("embedded-opentype"), url("../Fonts/fa-regular-400.woff2") format("woff2"), url("../Fonts/fa-regular-400.woff") format("woff"), url("../Fonts/fa-regular-400.ttf") format("truetype"), url("../Fonts/fa-regular-400.svg#fontawesome") format("svg");
}
@font-face {
    font-family: 'Font Awesome 5 Free';
    font-style: normal;
    font-weight: 900;
    font-display: block;
    src: url("../Fonts/fa-solid-900.eot");
    src: url("../Fonts/fa-solid-900.eot?#iefix") format("embedded-opentype"), url("../Fonts/fa-solid-900.woff2") format("woff2"), url("../Fonts/fa-solid-900.woff") format("woff"), url("../Fonts/fa-solid-900.ttf") format("truetype"), url("../Fonts/fa-solid-900.svg#fontawesome") format("svg");
}
.far {
    font-family: 'Font Awesome 5 Free';
    font-weight: 400;
}
.fa,
.fas {
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
}


html,
body {
    height: 100%;
}

/*
 * Base https://coolors.co/0d210d
 * https://mycolor.space/?hex=%230D210D&sub=1
 */

body {
    font-size: 1.1rem;
    background-color: var(--c-bg-1);
    color: var(--c-fg-a-7);
}

a {
    color: var(--c-fg-a-7);
}

a:hover {
    color: var(--c-fg-a-11);
}

.shadow {
    box-shadow: 0 0.1rem 0.2rem rgba(0, 0, 0, 0.15) !important;
}

/*
 * Sidebar
 */
.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 100;
    padding: 48px 0 0;
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
    background-image: conic-gradient(from 90deg at 0 90%, var(--c-fg-b-1), 90deg, var(--c-bg-2), 358deg, var(--c-fg-a-5));
}

@media (max-width: 767.98px) {
    .sidebar {
        top: 5rem;
    }
}

.sidebar-sticky {
    position: relative;
    top: 0;
    height: calc(100vh - 48px);
    padding-top: .5rem;
    overflow-x: hidden;
    overflow-y: auto;
}

.sidebar .nav-link {
    font-weight: 500;
    color: var(--c-fg-a-7);
}

.sidebar .nav-link:hover {
    color: var(--c-fg-a-11);
}

.sidebar .nav-link.active {
    color: var(--c-fg-a-11);
    background-image: linear-gradient(to right, var(--c-fg-b-7), var(--c-bg-2));
}

.sidebar-heading {
    font-size: .75rem;
    text-transform: uppercase;
}

/*
 * Navbar
 */
.navbar-brand {
    padding-top: .75rem;
    padding-bottom: .75rem;
    font-size: 1rem;
    background-color: var(--c-fg-a-1);
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .25);
}

.navbar {
    background-color: var(--c-bg-2);
}

.navbar .navbar-toggler {
    top: .25rem;
    right: 1rem;
}

.navbar .form-control {
    padding: .75rem 1rem;
    border-width: 0;
    border-radius: 0;
}
