<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <link rel="shortcut icon" href="Assets/Images/RabbazLogo.svg">

    <base href="{{APPLICATION.getRequest.getHostPath}}/">

    <title>Hello Rabbaz</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="Assets/Css/bootstrap.css">
    <link rel="stylesheet" href="Assets/Css/fontawesome.css">
    <!-- Demo styles -->
    <style>

    </style>
</head>

<body style="overflow:not-hidden">

    {{SCREEN}}

    <script src="Assets/Js/bootstrap.js"></script>
    <!--script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="Assets/Js/inertialScroll.js"></script-->
    <script src="Assets/Js/touchScroll.js"></script>
</body>
</html>
